<%#= javascript_tag "var autocomplete_items = #{ @autocomplete_items.to_json };" %>

<div class="skill_div fields form-inline">

  <%= render :partial => "skill_fields_row", :locals => {:skill_form_row_number => "0"} %>
</div>
<br />
<br />
<%= link_to "Add", add_skill_field_form_row_path("1"), :id => 'add_more_skills', :remote => true %>
