<h1 style="text-align:center;color:black;font-size:36px">Skills</h1>
<div class="container" >
  <div class="row" >
    <div class="col-lg-6 col-lg-offset-3">
      <table class="table table-striped table-bordered">
	    <thead>
          <tr>
	        <th>Skill Name</th>
		    <th>Description</th>
          </tr>
	    </thead>
	    <tbody>

          <%# for skill in @skills %>
          <%# binding.pry %>
            <% @hash.each do |category, skills| %>
              <tr><th colspan="2" style="text-align: center"><%= category.name %></th></tr>
            <% for skill in skills %>
              <tr>
  	            <td style="width: 40px"><%= link_to skill.name.titleize, skill_path(skill) %><br/></td>
  	            <td><%= skill.description %></td>
              </tr>  
            <% end %>

            <% end %> 
        </tbody>
      </table>
    </div>
  </div>
</div>