<div class="container">
	<footer class="footer" style = "border-top: 1px solid #E5E5E5;">
		<p style="margin-top:10px;">© <%= link_to 'Cybrilla Technologies', 'www.cybrilla.com' %> 2015</p>
	</footer>
</div>